*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Roboto", sans-serif;
  --normal-font: 400;
  --light-font: 200;
  --bold-font: 700;
  --bg-color: #fcfcfc;
  --primary-color: rgb(55, 95, 96);
  --secondary-color: rgb(155, 145, 130);
  --dark-color: #003333;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3.5rem;
  background-color: var(--dark-color);
}

.nav-bar {
  display: flex;
  gap: 5rem;
}

.nav-bar__entry {
  font-weight: var(--light-font);
  font-size: 1rem;
}

.nav-bar__link {
  color: white;
}

.nav.bar__link:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.hero__img {
  width: 50vw;
}

.bio {
  width: 50vw;
  padding: 0 2em;
}

.bio__title {
  margin: 0.5em 0;
  font-size: 2.5rem;
  color: white;
}

.bio__text {
  margin: 0.5em 0;
  font-size: 2.5rem;
  color: white;
}

.bio__button {
  all: unset;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 2px solid white;
}

.bio__button--contact {
  background-color: white;
}

.bio__button--portfolio {
  color: white;
}
