:root {
  font-size: calc(1rem + 0.25vw);
}

html {
  font: 500 1.125rem / 1.5 "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-size: var(--step-0);
  line-height: 1.5;
}

section,
footer {
  padding: var(--space-xl) var(--space-l);
}

.section__inner {
  max-width: 60ch;
  margin: 0 auto;
}

section > *:first-child {
  margin-top: 0;
}

section > *:last-child {
  margin-bottom: 0;
}

::selection {
  color: var(--color-black);
  background-color: #e8ba40;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

svg {
  width: 1em;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.222;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
  font-weight: 900;
}

h3 {
  font-size: var(--step-1);
  font-weight: 700;
}

a:not(:has(svg)) {
  color: var(--color-highlight-3);
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    #e8ba40
  );
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-position: 0 100%;

  text-decoration: underline 2px currentColor;
}

a:not(:has(svg)):hover {
  background-size: 100% 2px;
  text-decoration: none;
}

a:focus {
  outline: 2px solid currentColor;
  outline-offset: 2px;
  text-decoration: none !important;
  background: unset !important;
}
