/* Header & navigation */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-highlight-1);
  color: var(--color-white);
}

.header {
  padding: 1rem 1.125rem;
}

.header__homelink {
  color: inherit;
  font-family: "Playfair Display", serif;
  font-size: clamp(1.25rem, 0.641rem + 3.043vw, 3rem);
  font-weight: 700;
  text-decoration: none;
}

.nav-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  min-width: 48px;
  min-height: 48px;
  padding: 0;
  border: none;

  background-color: transparent;
  color: inherit;
  font-size: clamp(1.125rem, 0.995rem + 0.652vw, 1.5rem);
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-button:focus {
  outline: 2px solid currentColor;
}

.main-nav__link {
  font-size: clamp(1.25rem, 1.163rem + 0.435vw, 1.5rem);
}

.nav-button__text,
.nav-button__icon {
  flex-shrink: 0;
}

.nav-button__icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke: currentColor;
}

.nav-button__icon--close {
  display: none;
}

.nav-button[aria-expanded="true"] .nav-button__icon--close {
  display: block;
}

.nav-button[aria-expanded="true"] .nav-button__icon--open {
  display: none;
}

.main-nav {
  position: absolute;
  width: 100%;
  background-color: inherit;
  top: calc(clamp(1.5rem, 0.978rem + 2.609vw, 3rem) + 3rem);
  left: 0;
  display: none;
}

.nav-button[aria-expanded="true"] + .main-nav {
  display: block;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.main-nav__link {
  color: var(--color-white);
  text-decoration: none;
}

/* Main: Hero */

.hero {
  padding-top: 1rem;
  background-color: var(--color-highlight-1);
  color: var(--color-white);
}

.hero a {
  color: inherit;
}

.hero__headshot {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  padding-bottom: 3rem;
  border-radius: 4px;

  background-color: var(--color-white);

  & img {
    border-radius: 4px;
  }
}

.hero__text {
  color: var(--color-white);
}

/* Hero: About */

.about h2,
.contact__heading {
  color: var(--color-highlight-3);
}

.about,
.contact {
  color: var(--color-highlight-1);
  background-color: var(--color-highlight-2);
}

.about__contact {
  position: relative;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 3px solid var(--color-highlight-1);
  border-radius: 4px;
  box-shadow: 4px 4px var(--color-highlight-1);
  background: unset;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: unset;
    transform: translate(4px, 4px);
  }
}

/* Main: Services with collapsibles */

.services {
  background-color: var(--color-highlight-3);
  color: var(--color-white);
}

.services__container {
  display: grid;
  gap: 2rem;
}

.services__inner {
  padding: var(--space-l) var(--space-m);
  border-radius: 4px;
  background-color: var(--color-white);
  color: var(--color-black);

  & h3 {
    margin-top: 0;
  }
}

.services__list {
  font-weight: 600;
}

.services__item {
  border-bottom: 2px solid currentColor;
  padding: 1rem 0;
}

.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  padding: 0;
  border: none;

  background-color: transparent;
  color: var(--color-black);
  font: inherit;
  text-align: start;
}

.trigger:focus {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.trigger__text {
  flex-shrink: 1;
}

.trigger__text,
.services__item {
  font-weight: 700;
}

.trigger__icon {
  flex-shrink: 0;
  width: 1rem;
  height: auto;
  color: var(--color-black);
  stroke: currentColor;
}

.trigger__icon--close {
  display: none;
}

.trigger[aria-expanded="true"] .trigger__icon--open {
  display: none;
}

.trigger[aria-expanded="true"] .trigger__icon--close {
  display: block;
}

.disclosure-widget__list {
  padding-left: 1.25rem;
  margin-top: var(--space-2xs);
  list-style-image: url("../icons/minus.svg");
}

.disclosure-widget__item {
  font-weight: 500;
  padding-left: 0.25rem;
}

.disclosure-widget__item::marker {
  font-size: var(--step-1);
  color: currentColor;
}

#contact address,
#contact nav[aria-label="Social media profiles"] li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: var(--space-2xs);
  font-style: normal;
}

#contact svg {
  width: var(--step-0);
  vertical-align: middle;
  color: var(--color-highlight-3);
  fill: currentColor;
}

#contact p {
  margin-bottom: 0;
}

.footer {
  background-color: #1e2130;

  & a,
  svg {
    color: var(--color-white);
  }

  & svg {
    fill: currentColor;
  }

  & .heart {
    fill: oklch(53.08% 0.2177 29.23);
  }
}

.footer__text {
  margin-top: 0;
}

footer p,
footer a {
  color: var(--color-white);
}

footer p {
  text-align: center;
}

footer svg {
  display: inline;
  vertical-align: middle;
}

.legal__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

a[href="#top"] {
  position: relative;
  left: 50%;
  display: inline-block;
  margin-top: 1rem;
  transform: translateX(-50%);
}

a[href="#top"] svg {
  width: 44px;
  height: 44px;
}

@media (min-width: 820px) {
  .hero__container {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  h1 {
    margin-top: 0;
  }

  .hero__text {
    padding: 0;
    background-color: transparent;
    color: var(--color-white);
  }
}

@media (min-width: 62rem) {
  .services__container {
    display: flex;
  }

  .services__inner {
    flex: 1 1 0;
  }
}

@media (max-width: 47.999rem) {
  .main-nav__list {
    padding-block: 1rem;
    border-top: 2px solid var(--color-white);
    margin: 0 1.25rem 2rem;
  }
}

@media (min-width: 48rem) {
  .nav-button {
    display: none;
  }

  .main-nav {
    position: unset;
    display: block;
    width: auto;
  }

  .main-nav__list {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .services__container {
    grid-template-columns: 1fr;
  }

  #hero,
  #about {
    grid-column: auto;
    grid-row: auto;
  }
}
