/* Fonts */

/* playfair-display-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/playfair-display-v30-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/playfair-display-v30-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* playfair-display-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/playfair-display-v30-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/playfair-display-v30-latin-900.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* quicksand-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/quicksand-v30-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/quicksand-v30-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* quicksand-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/quicksand-v30-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/quicksand-v30-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* give-you-glory-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Give You Glory";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/give-you-glory-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/give-you-glory-v15-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* General styling and custom properties */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.25,1240,20,1.25,3,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-base: #1e2130;
  --color-highlight: #ff6b6b;
  --color-highlight--dark: #0d5160;
  --color-highlight--light: #e1eaec;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* @link https://utopia.fyi/type/calculator?c=360,16,1.25,1920,18,1.333,4,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step -1: 12.8px → 13.5034px */
  --step--1: clamp(0.8rem, 0.7899rem + 0.0451vi, 0.844rem);
  /* Step 0: 16px → 18px */
  --step-0: clamp(1rem, 0.9712rem + 0.1282vi, 1.125rem);
  /* Step 1: 20px → 23.994px */
  --step-1: clamp(1.25rem, 1.1924rem + 0.256vi, 1.4996rem);
  /* Step 2: 25px → 31.984px */
  --step-2: clamp(1.5625rem, 1.4618rem + 0.4477vi, 1.999rem);
  /* Step 3: 31.25px → 42.6347px */
  --step-3: clamp(1.9531rem, 1.7889rem + 0.7298vi, 2.6647rem);
  /* Step 4: 39.0625px → 56.832px */
  --step-4: clamp(2.4414rem, 2.1851rem + 1.1391vi, 3.552rem);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-size: var(--step-0);
}

header,
footer,
section {
  padding: 1.5rem 2rem;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: var(--step-2);
  font-weight: 900;
}

h3 {
  font-size: var(--step-1);
  font-weight: 700;
}

a:not(:has(svg)) {
  color: var(--color-base);
  font-weight: 600;
  background: linear-gradient(to right, #0d51609d, #0d51609d),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;

  text-decoration: none;
}

a:not(:has(svg)):hover {
  background-size: 0 3px, 100% 3px;
}

a:focus {
  outline: 5px solid var(--color-highlight);
  outline-offset: 2px;
  text-decoration: none !important;
  background: unset !important;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-highlight);
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

#header {
  background-color: var(--color-base);
}

h1,
h1 + p {
  margin: 0;
  color: var(--color-white);
}

h1 {
  font-size: var(--step-3);
}

h1 + p {
  margin-top: 1rem;
  font-size: var(--step-1);
  font-family: "Quicksand";
}

[aria-label="Main navigation"] {
  margin-top: calc(1rem + 1.5vw);
}

@media (max-width: 400px) {
  [aria-label="Main navigation"] ul.list {
    gap: 0.5rem;
  }
}

@media (min-width: 400px) {
  [aria-label="Main navigation"] ul.list {
    gap: 2rem;
  }
}

[aria-label="Main navigation"] ul.list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

[aria-label="Main navigation"] ul.list span[aria-hidden="true"] {
  color: var(--color-white);
}

[aria-label="Main navigation"] ul.list li a,
footer a:not([href="#top"]) {
  color: var(--color-white);
  background: linear-gradient(to right, var(--color-white), var(--color-white)),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;

  text-decoration: none;
}

[aria-label="Main navigation"] ul.list li a {
  font-size: var(--step-1);
}

[aria-label="Main navigation"] ul.list li a:hover,
footer a:not([href="#top"]):hover {
  background-size: 0 3px, 100% 3px;
}

#hero {
  padding-top: 0;
  background-color: var(--color-base);
}

#hero > figure {
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  background-color: var(--color-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 0.8),
    0 0 15px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.4);
}

#hero > figure + [aria-label="Social media profiles"] {
  margin-top: 1.5rem;
}

[alt="Portrait Felix Meischter"] {
  display: block;
  max-width: 100%;
  height: auto;
}

[aria-label="Social media profiles"] ul.list {
  display: flex;
  gap: 1rem;
}

[aria-label="Social media profiles"] ul.list a {
  text-decoration: none;
}

[aria-label="Social media profiles"] ul.list a svg {
  color: var(--color-white);
  fill: currentColor;
}

[aria-label="Social media profiles"] ul.list a svg,
a[href="#top"]:hover svg {
  width: 44px;
  height: 44px;
  transition: transform 0.3s ease-in-out;
}

[aria-label="Social media profiles"] ul.list a:hover svg,
a[href="#top"]:hover svg {
  transform: scale(120%);
}

#about h2,
.contact__heading {
  color: var(--color-highlight--1);
}

#about,
#contact {
  background-color: var(--color-highlight--light);
}

#about div {
  margin-block: 2rem;
}

#about div a[href="#contact"] {
  position: relative;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 3px solid var(--color-base);
  box-shadow: 4px 4px var(--color-highlight--dark);
  background: unset;
}

#about div a[href="#contact"]:hover,
#about div a[href="#contact"]:focus {
  box-shadow: unset;
  transform: translate(4px, 4px);
}

#services {
  color: var(--color-white);
  background-color: var(--color-base);
}

#services li {
  padding: 1rem 0;
}

#services ul.list > li {
  border-bottom: 2px solid var(--color-highlight--light);
}

#services ul li + li,
#services ul li > ul {
  margin-top: 0.5rem;
}

.panel ul {
  padding-left: 1.5rem;
  list-style-image: url("../icons/check-solid.svg");
}

.trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  padding: 0;
  border: none;

  color: inherit;
  background-color: transparent;
  font: inherit;
  text-align: start;
}

.trigger svg {
  width: 1rem;
  height: auto;
  color: inherit;
  fill: currentColor;
}

/* when the trigger is "expanded", rotate the icon to visually indicate state */
.trigger[aria-expanded="true"] svg {
  transform: rotate(-180deg);
}

#contact address {
  font-style: normal;
}

div a[href="#contact"] {
  font-family: "Playfair Display", serif;
}

#contact svg {
  width: var(--step-0);
  vertical-align: middle;
}

footer {
  background-color: #1e2130;
}

footer p,
footer a {
  color: var(--color-white);
}

footer p {
  text-align: center;
}

footer img {
  vertical-align: middle;
}

nav[aria-label="Legal info"] .list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

a[href="#top"] {
  position: relative;
  left: 50%;
  display: inline-block;
  margin-block: 1rem;
  transform: translateX(-50%);
}

a[href="#top"] svg {
  width: 44px;
  height: 44px;
}

@media (min-width: 680px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
