/* Importing Google Fonts locally */

@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

/* General styling */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #fcfcfc;
  --primary-color: rgb(43, 91, 97);
  --primary-color-transparent: rgba(43, 91, 97, 0.9);
  --secondary-color: rgba(226, 206, 175, 0.5);
  --lightwhite-color: rgb(224, 234, 248);
  --lightblue-color: rgb(220, 231, 233);
  --dark-color: #141213;
  --transition: 0.3s;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  margin: 0;
  display: grid;
  grid-template-columns: 25% auto;
}

/* Design classes */

.text--light-colored {
  color: var(--lightwhite-color);
}
.text--centered {
  text-align: center;
}

/* Sticky sidebar with navigation */

.sidebar {
  height: 100vh;
  margin: 0;
  background-color: var(--dark-color);
  position: sticky;
  padding: 0.5em;
  display: grid;
  grid-template-rows: auto auto;
}
.sidebar__top,
.sidebar__down {
  display: flex;
  flex-direction: column;
}
.sidebar__top {
  align-items: center;
}
.sidebar__down {
  margin: 0;
  justify-content: flex-end;
}
.sidebar__primary-nav,
.sidebar__secondary-nav {
  list-style: none;
  padding-left: 0;
}
.sidebar__primary-nav a,
.sidebar__secondary-nav a {
  text-decoration: none;
}
.sidebar__img-wrapper {
  width: 150px;
  height: 150px;
}
.sidebar__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: 20% 80%;
}

.content {
  width: 100%;
}

/* Hero area with title image and quick info */

.hero-section__img {
  width: 100%;
  height: 100vh;
  background-image: url("images/pexels-laura-stanley-2147029.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-section__contact {
  padding: 1.5em;
  position: absolute;
  bottom: 1em;
  right: 0;

  background-color: var(--lightblue-color);
}
