/* Fonts */

/* playfair-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/playfair-display-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./fonts/playfair-display-v30-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* playfair-display-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/playfair-display-v30-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./fonts/playfair-display-v30-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* playfair-display-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/playfair-display-v30-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./fonts/playfair-display-v30-latin-900.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* quicksand-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/quicksand-v30-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./fonts/quicksand-v30-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* quicksand-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/quicksand-v30-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./fonts/quicksand-v30-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* quicksand-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/quicksand-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./fonts/quicksand-v30-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* quicksand-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/quicksand-v30-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./fonts/quicksand-v30-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* General styling and custom properties */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-base: #1e2130;
  --color-highlight--1: #18204a;
  --color-highlight--2: #0d5160;
  --color-highlight--3: #e1eaec;
  --device-xs: 360px;
  --device-sm: 576px;
  --device-md: 768px;
  --device-lg: 992px;
  --device-xl: 1200px;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  font-family: "Quickface", sans-serif;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

header,
footer,
section {
  padding: 1.5rem 2rem;
}

a {
  color: var(--color-highlight--1);
}

a:focus {
  outline: 3px solid var(--color-highlight--2);
  outline-offset: 3px;
  text-decoration: none;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-highlight--2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-block: 0;
  background-color: var(--color-base);
}

.header__heading,
.header__subheading {
  margin: 0;
  color: var(--color-white);
}

.header__heading {
  font-family: "Playfair Display";
  font-size: var(--font-size-xl);
}

.header__subheading {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-family: "Quicksand";
}

.header__subheading p {
  margin: 0;
}

.header__homelink {
  display: block;
  text-decoration: none;
}

.navigation__list.list {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding-block: 0.5rem;
}

.navigation__link,
.about a,
.contact__link {
  color: var(--color-highlight--1);
  background-size: 0.001% 100%;
  text-decoration-skip-ink: auto;
  transition: background-size 0.15s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  font-weight: 600;
}

.navigation__link:hover,
.about a:hover,
.contact__link:hover {
  background-image: linear-gradient(
    180deg,
    transparent 60%,
    var(--color-highlight--2) 0
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-decoration: none;
}

.hero {
  padding-top: 0;
  background-color: var(--color-base);
}

.hero__headshot {
  border: 1px solid var(--color-black);
  margin: 0 auto;
  width: 100%;
  max-width: calc(51.75rem / 2);
  height: 100%;
}

.hero__headshot img {
  width: 100%;
  height: 100%;
}

.hero__description {
  color: var(--color-white);
  font-size: 1.25rem;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.socials__list.list {
  display: flex;
  gap: 1rem;
}

.socials__list.list a {
  text-decoration: none;
}

.socials__list.list a img {
  transition: transform 0.1s;
}

.socials__list.list a:hover img {
  transform: scale(120%);
}

.socials__icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  fill: var(--color-white);
}

.about__heading,
.contact__heading {
  color: var(--color-highlight--1);
}

.about,
.contact {
  background-color: var(--color-highlight--3);
}

.services {
  color: var(--color-white);
  background-color: var(--color-base);
}

.contact__address {
  font-style: normal;
}

.contact__icon {
  width: var(--font-size-md);
  vertical-align: middle;
}

footer {
  background-color: #1e2130;
}

footer p,
footer a {
  color: var(--color-white);
}

footer img {
  vertical-align: middle;
}

h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

p,
li {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
