/* Fonts */

/* pt-sans-regular - latin */
@font-face {
	font-family: "Atkinson Hyperlegible";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		/* IE6-IE8 */
	url("./fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
		/* Super Modern Browsers */
	url("./fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
}

/* pt-sans-700 - latin */
@font-face {
	font-family: "Atkinson Hyperlegible";
	font-style: normal;
	font-weight: 700;
	src: local(""),
		/* IE6-IE8 */
	url("./fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
		/* Super Modern Browsers */
	url("./fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
}

/* General styling and custom properties */

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--color-black: #1e2130;
	--color-white: #f7f7f9;
	--color-base: #1E2130;
	--color-highlight--1: #18204A;
	--color-highlight--2: #4D557D;
	--color-highlight--3: #28367D;
	--color-highlight--4: #7D8AC9;
	--device-xs: 360px;
	--device-sm: 576px;
	--device-md: 768px;
	--device-lg: 992px;
	--device-xl: 1200px;
	--font-size-md: 1rem;
	--font-size-lg: 1.5rem;
	--font-size-xl: 2rem;
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-size: 16px;
	color: var(--clr-raisin-black);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
}

header, footer, section {
	padding: 1.5rem 2rem;
}

h1, h2, h3,
.navigation__link {
	text-transform: lowercase;
}

a {
	color: var(--clr-raisin-black);
}

::selection {
}

.header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: .5rem;
	width: 100%;
	padding-block: .5rem;
	background-color: var(--color-base);
}

.header__heading, .header__subheading {
	margin: 0;
	color: var(--color-white);
}

.header__heading {
	font-size: var(--font-size-xl);
	-webkit-text-stroke: 1px var(--color-highlight--1);
}

.header__subheading {
	display: flex;
	flex-direction: column;
	font-size: 1.25rem;
}

.header__homelink {
	display: block;
	text-decoration: none;
}

.header__navigation {
	position: relative;
	transform: rotate(5deg);
}

.ribbon {
	width: 1em;
	height: 4em;
}

.ribbon--1 {
	z-index: 3;
	left: 30%;
	position: relative;
	background-color: var(--color-highlight--4);
	transform: skewY(11deg) rotate(-11deg);
}

.ribbon--2 {
	position: absolute;
	top: 0;
	left: 50%;
	background-color: var(--color-highlight--1);
	transform: skewY(-11deg) rotate(11deg);
}

.badge {
	z-index: 2;
	position: relative;
	top: -1em;
	padding: .5em;
	width: 5em;
	border: 1px solid var(--color-highlight--1);
	box-shadow: 0 0 3px var(--color-highlight--4);
	border-radius: 5px;
	background-color: var(--color-white);
}

.badge__hole {
	width: 2em;
	height: 0.5em;
	border: 1px solid black;
	border-radius: 5px;
	margin: auto;
}

.navigation__list.list {
	display: flex;
	flex-direction: column;
	gap: .25rem;
	padding-block: .5rem;
}

.navigation__link {
	font-size: 1rem;
}

.hero {
	padding-top: 0;
	background-color: var(--color-base);
}

.hero__headshot {
	border: 1px solid var(--color-highlight--4);
	margin: 0 auto;
	width: 100%;
	max-width: 51.75rem;
	height: 100%;
	aspect-ratio: 1/1.5;
}

.hero__headshot img {
	display: block;
	object-fit: cover;
	object-position: center top;
	width: 100%;
	height: 100%;
}

.hero__description {
	color: var(--color-white);
	font-size: 1.25rem;
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	width: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	border: 0 !important;
}

.list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.socials__list.list {
	display: flex;
	gap: 1rem;
}

.socials__list.list a {
	text-decoration: none;
}

.socials__icon {
	width: 24px;
	height: 24px;
	fill: var(--color-white);
}

.about__heading, .contact__heading {
	color: var(--color-highlight--3);
}

.about__heading::after, .contact__heading::after {
	content: ".";
}

.services {
	background-color: var(--color-highlight--4);
}

.contact__languages-item {
	display: flex;
	gap: .5rem;
	align-items: center;
}

.contact__languages-item p {
	margin-block: .5rem;
}

footer {
	background-color: #1E2130;
}

footer p, footer a {
	color: var(--color-white);
}

footer img {
	vertical-align: middle;
}
