/* Fonts */

/* playfair-display-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("../../public/fonts/playfair-display-v30-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../../public/fonts/playfair-display-v30-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* playfair-display-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  src: url("../../public/fonts/playfair-display-v30-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../../public/fonts/playfair-display-v30-latin-900.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* quicksand-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("../../public/fonts/quicksand-v30-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../../public/fonts/quicksand-v30-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* quicksand-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("../../public/fonts/quicksand-v30-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../../public/fonts/quicksand-v30-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* General styling and custom properties */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-base: #1e2130;
  --color-highlight: #7db6bf;
  --color-highlight--dark: #0d5160;
  --color-highlight--light: #e1eaec;
  --font-size--reg: 1rem;
  --font-size-med: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-size: var(--font-size--reg);
}

header,
footer,
section {
  padding: 1.5rem 2rem;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

a {
  color: var(--color-base);
  background-size: 10% 100%;
  font-weight: 600;
  text-decoration-skip-ink: auto;
  transition: background-size 0.15s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

a:hover {
  background-image: linear-gradient(
    180deg,
    transparent 60%,
    var(--color-highlight) 0
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-decoration: none;
}

a:focus {
  outline: 3px solid var(--color-highlight--dark);
  outline-offset: 3px;
  text-decoration: none;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-highlight--dark);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  background-color: var(--color-base);
}

.header__heading,
.header__subheading {
  margin: 0;
  color: var(--color-white);
}

.header__heading {
  font-size: var(--font-size-lg);
}

.header__subheading {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-family: "Quicksand";
}

.header__homelink {
  text-decoration: none;
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__button svg {
  transform: translateX(-180deg);
  fill: var(--color-white);
  width: 24px;
  height: 24px;
}

.navigation__list.list {
  position: absolute;
  top: 5rem;
  left: 0;

  display: none;
  width: 100%;

  background-color: var(--color-highlight--dark);
}

.header__button[aria-expanded="true"] ~ .navigation__list.list {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding-block: 0.5rem;
}

.hero {
  background-color: var(--color-base);
}

.hero__headshot {
  border: 1px solid var(--color-black);
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.hero__headshot img {
  width: 100%;
  height: 100%;
}

.hero__description {
  color: var(--color-white);
  font-size: 1.25rem;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.socials__list.list {
  display: flex;
  gap: 1rem;
}

.socials__list.list a {
  text-decoration: none;
}

.socials__list.list a img {
  transition: transform 0.1s;
}

.socials__list.list a:hover img {
  transform: scale(120%);
}

.socials__icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  fill: var(--color-white);
}

.about__heading,
.contact__heading {
  color: var(--color-highlight--1);
}

.about,
.contact {
  background-color: var(--color-highlight--light);
}

.services {
  color: var(--color-white);
  background-color: var(--color-base);
}

.contact__address {
  font-style: normal;
}

.contact__icon {
  width: var(--font-size--reg);
  vertical-align: middle;
}

footer {
  background-color: #1e2130;
}

footer p,
footer a {
  color: var(--color-white);
}

footer img {
  vertical-align: middle;
}
